#--format documentation
#--color
#--fail-fast

<h3>Cloud City Coffee<h3>
Cloud City Coffee is in North Seattle. It has food options, a warm and friendly atmosphere, and coffee art. They even roast their own beans! Find out more about this sweet café: https://www.cloudcitycoffee.com/home/. 
https://www.google.com/search?q=cloud+city+coffee&rlz=1C5CHFA_enUS726US727&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjf_8SMt83cAhWwGDQIHbNCBfAQ_AUIDCgD&biw=1279&bih=603#imgrc=hVOx_S04fAlknM:
